body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
    padding: 10px;
}

.logo,
.outbound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 64px;
}

.logo img {
    max-height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    margin: 0%;
    padding: 0%;
    gap: 20px;
    list-style: none;
}

img.icons {
    color: #e5e7eb;
}