body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
    padding: 10px;
}

.logo,
.outbound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
}

.logo img {
    max-height: 48px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    margin: 0%;
    padding: 0%;
    gap: 40px;
    list-style: none;
}

img.icons {
    width: 18px;
    height: auto;
}

.hero-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 60px 10px 80px 10px;
    gap: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 5px;
}

.hero .hero-title {
    font-size: 48px;
    font-family: Roboto, serif;
    font-weight: 900;
    color: #1f2937;
}

.hero .hero-body {
    font-size: 18px;
    font-family: Roboto, serif;
}

.hero button {
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Roboto, serif;
    font-size: 1rem;
    font-weight: 900;
    color: #f9faf8;
    border: 0px;
}

.hero-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#church {
    width: 500px;
    height: auto;
    flex: auto;
}